
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>ngIf</h2>
            <button class="btn btn-outline-primary btn-block" type="button"
                    (click)=" mostrar = !mostrar ">
                    Mostrar / Ocultar
            </button>
            <div *ngIf="mostrar" class="card text-white bg-primary mb-3">
                    <div class="card-body">
                      <h5 class="card-title">{{ frase.autor }}</h5>
                      <p class="card-text">{{ frase.mensaje }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>ngFor</h2>
            <ul *ngFor=" let futbolista of futbolistas; let i = index " class="list-group">
                <li class="list-group-item">{{ i + 1 }}. {{ futbolista }}</li>
            </ul>
        </div>
    </div>
</div>