
/*general*/
body {
	font-family: 'Roboto', sans-serif;
}
a {
	color: #291701;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: gray;
}

/*header*/
header {
	background-color: #0B0B3B;
	padding-top: 25px;
}
.social-header {
	margin-top: 12px;
}
	.social-header a {
		color: #fff;
	}
		.social-header a .fa-inverse {
			color: #B18904;
		}
		.social-header a .fa-inverse:hover {
			color: gray;
		}
.menu-bar {
	background-color: #08088A;
	margin-top: 20px;
}
	.menu-bar a {
		text-transform: uppercase;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
	}
	.menu-bar a:hover {
		color: gray;
	}
.menu-list {
	padding: 12px 0;
	margin-bottom: 0;
}
	.menu-list > li:not(:last-child){
		margin-right: 40px;
	}	


/*content*/
.container {
	box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
}

/*carrousel*/
#slider-home {
	margin-bottom: 50px;
}
.carousel-caption {
	background-color: rgba(41, 23, 1, .5);
	height: 100%;
	left: 0;
	top: 0;
	padding: 30px 45px;
	text-align: left;
	width: 340px;
}
	.carousel-caption p {
		font-size: 14px;
		line-height: 18px;

	}
	.carousel-caption h2 {
		font-size: 26px;
		line-height: 30px;
	}
	.carousel-caption .h4 {
		font-size: 20px;
		margin-bottom: 30px;
		margin-top: 8px;
	}
	.carousel-caption img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.carousel-caption a {
		border-radius: 0;
		font-weight: bold;
		color: #291701;
		border:none;
	}
h3 {
	border-bottom: 2px solid #08088A;
	font-size: 24px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
	h3 i {
		color: #929292;
	}
p {
	font-size: 16px;
}
.slidebars-zone {
	background-color: #e0e0e0;
	padding-top: 20px;
}
	.slidebars-zone h4 {
		font-size: 20px;
		border-bottom: 2px solid #08088A;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.slidebars-zone a {
		margin-bottom: 18px;
		display: block;
		text-transform: uppercase;
	}		

/*footer*/
/*helpers*/
.mar-top-80 {
	margin-top: 80px;
}