/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General */

* {
    font-family: Sansation, sans-serif;
}

@font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation'), url('../Sansation/Sansation.otf') format('woff');
    }
    * {
        font-family: Sansation, sans-serif;
    }  

/* Navbar */

.logo .__img {
    display: block;
    padding-top: 15px;
    margin-left: 45px;
    margin-top: -12px;
}
.main-nav {
    margin-top: 43px;
}
    .main-nav li {
        padding: 0 15px 0 15px;
        font-size: 20px;
        border-right: 2px solid black;
        height: 35px;
    }
    .main-nav li:nth-child(4) {
        border-right: none;
    }
    .main-nav li a {
        color: black;
    }
    .main-nav li a:hover {
        color: gray;
    }
    .main-nav li b {
        font-weight: bold;
    }
.searcher {
    height: 70px;
}
    .searcher h2 {
        text-align: center;
        margin-top: 15px;
    }
div section:last-child {
        height: 150px;
} 
.main-tag {
    margin-top: 35px;
}
.tag-perro {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .tag-perro {
        width: 50%;
    }
  }
  @media screen and (max-width: 970px) {
    .tag-perro {
        width: 60%;
    }
  }
.tag-perro .__filtro-pyg {
    border: 1px solid gray;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

    .tag-perro .__pyg {
        font-size: 2em;
        padding-top: 23px;
    }
    .pyg__blog-activa {
        box-shadow: 0px 0px 0px 2px #666;
        font-weight: bold
    }

/* Menu desplegable */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 1;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menu-desplegable {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #fff;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 35%;
}
@media screen and (max-width: 800px) {
    .menu-desplegable {
        padding-bottom: 0px;
        padding-top: 0px;
        width: 100%;
    }
  }
    .menu-desplegable .__p {
        margin: 0;
        text-align: left;
        color: #fff;
    }
    @media screen and (max-width: 800px) {
        .menu-desplegable .__p {
            text-align: center;
        }
      }
    .menu-desplegable span {
        font-weight: bold;
    }

/* Tag nav */


.menu-tab {
    margin-top: 25px;
}
.tag-nav .__tag-nav-ul {
    margin: 0 auto;
}
.tag-nav .__tag-nav-ul li {
    background-color: gainsboro;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin: 40px;
}
    .tag-nav .__tag-nav-ul li p {
        position: absolute;
        z-index: 1;
        margin-top: 40px;
        margin-left: -10px;
    }
.tag-nav .barra {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 10px;
    background-color: rgb(210, 204, 204);
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: -75px;
}

/* Entradas */
.section-entradas {
    background-color: rgb(210, 204, 204);
    padding: 20px 50px 20px 50px; 
}
    .card-text {
        font-size: 70%;
    }
    .card-text-principal {
        font-size: 100%;
    }
.side-entrada {
    padding-bottom: 150px;
}
/* Footer */

.__footer {
    background-color: #868383;
    padding: 70px;
}
.__footer div:nth-child(2){
        margin-top: 160px;
    }
    .__footer div:nth-child(3){
        margin-top: 60px;
    }
    .__footer div p {
        color: #ffffff;
        font-style: italic;
    }
    .__footer div h4 + p {
        color: #ffffff;
        font-size: 20px;
        font-style: normal;
        margin: 0;
    }
    .__footer div h4 + p + p{
        color: #ffffff;
        font-size: 20px;
        font-style: normal;
        margin: 0;
    }
    .__footer div h4 + p + p + p {
        color: #ffffff;
        font-size: 20px;
        font-style: normal;
        margin: 0;
    }
    .__footer div .footer-content-center {
        text-align: center;
    }
    .__footer div .label {
        color: #ffffff;
        font-size: 1.8em;
        
    }
    .__footer div input {
        background-color: transparent;
        color: white;
        border-color: #ffffff;
        text-decoration: none;
        width: 85%;
        height: 40px;
        border: 1px solid white;
    }
    .__footer div h4 {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
    }

    .social-header{
        border-right: none;
      }
        .social-header a {
          color: #fff;
        }
        .social-header a .fa-inverse {
            color: #868383;
        }
        .social-header a .fa-inverse:hover {
            color: #4512d1;
        }
        
input::placeholder {
    color: white;
    padding-left: 20px;
}

/* Internas */

.interna-body {
    background-color: #eeeeee;
}
 .patrocinador {
     padding-top: 90px;
     background-color: #eeeeee;
 }
.interna-body div {
   padding: 40px;
} 
    .interna-body div div {
        margin-top: 10px;
    } 
    .interna-body div div div {
        margin-top: 0;
        padding-top: 0;
    }
    .interna-body .fecha-entrada-interna {
        background-image: url(../img/fecha.png);
        background-repeat: no-repeat;
        color: white;
        width: 10%;
        z-index: 1;
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
    }
    .interna-body div div div .interna-share {
        right: 30px;
        position: absolute;
        top: 40px;
    }
        .interna-body div p {
            margin-top: 20px;
            margin-bottom: 40px;
            display: block;
            font-size: 25px;
        } 

/* Carousel interna */

.carousel-interna {
    padding: 50px;
    background-color: #eeeeee;
}
.arrow-carousel-left {
    left: -100px;
}
.arrow-carousel-right {
    right: -100px;
}
.slide-card {
    padding: 10px;
    border: none;
    background-color: #eeeeee;
}
.main-date {
    background-color: gray;
    color: white;
    width: 20%;
    z-index: 1;
    margin-top: -65px;
}
.main-date p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}
    .main-date p:nth-child(1) {
        font-size: 30px;
    }
div div h5 {
    margin-top: 30px;
}
.marcas {
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.marcas div a img {
    text-align: center;
}
.msd-img {
    -webkit-transform: scale(1.8);
    border-radius: 15px;
}
.entradas-recientes h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 40px;
}
.entradas-recientes ul li {
    list-style: none;
}
    .entradas-recientes ul li a {
        text-decoration: underline;
        color: #646161;
        display: block;
        margin-top: 30px;
    }
    .entradas-recientes ul li a:hover {
        text-decoration: underline;
        color: black;
        font-weight: bold;
        display: block;
        margin-top: 30px;
    }

    /* Modal */

.main-modal {
    border-radius: 18px;
    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal__sesion {
    border-radius: 12px;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e7e7e7
}
 .modal__sesion__btn {
        background-color: #acacac;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 6px 35px 10px 35px;
}
    .modal__sesion div p {
        text-align: right;
        font-style: italic;
        color: gray;
        margin-top: 10px;
    }
    .modal__sesion div a:hover {
       text-decoration: none;
    }
    }
    .modal__sesion div .__a {
        text-decoration: none;
        color:gray;
        padding-left: 40px;
    }
    .main-modal h4 {
        color: gray;
        font-size: 1.3em;
    
    }
.left-modal-img {
    width: 14%;
    position: absolute;
    display: block;
    left: -8%;
    top: 18%;
} 
.modal-input {
    height: 45px;
    padding-left: 50px;
    border: none;
    box-shadow: -1px -2px 3px 1px  #d0d0d0;
}
    .main-modal-icon {
        position: absolute;
        margin-top: 15px;
        margin-left: 20px;
        color: rgb(141, 133, 133);
    }
    .modal-input::placeholder {
        font-style: italic;
        color: #bab0b0;
        padding-left: 10px;
        border-left: 0.5px solid gray;
    }
.btn-modal {
    background-color: rgb(155, 152, 152);
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
} 
.main-modal-header {
    border-bottom: none;
    padding-top: 5px;
} 
.main-modal-btn {
    border-top: none;
    padding-top: 0;
}
.btn-fb {
    margin-left: auto;
    margin-right: auto;
} 

/* Menu despleglable */
/* Style the hamburger menu toggle. */

label .hamburger {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 30px;
      height: 2px;
      background: #000;
      display: block;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
    label .hamburger:after, label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }
    label .hamburger:before { top: -10px; }
    label .hamburger:after { bottom: -10px; }
    label input { display: none; }
    label input:checked + .menu {
      box-shadow: 0 0 0 100vw rgb(68, 64, 64), 0 0 0 100vh rgb(68, 64, 64);
      border-radius: 0;
    }
    label input:checked + .menu .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    label input:checked + .menu .hamburger:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0;
    }
    label input:checked + .menu .hamburger:before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
    }
    label input:checked + .menu + ul { opacity: 1; }

    /* Style the fullscreen nav menu. */

    label .menu {
        position: absolute;
        right: -100px;
        top: -100px;
        z-index: 100;
        width: 200px;
        height: 200px;
        background: transparent;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 rgb(68, 64, 64), 0 0 0 0 rgb(68, 64, 64);
        cursor: pointer;
      }
      
      label ul {
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
      }
      
      label a {
        margin-bottom: 1em;
        display: block;
        color: #000;
        text-decoration: none;
      }

/* Eventos */

/*.hero {
    background-image: url(../img/hero-imagen-sc.png);
    height: 100vh;
    background-position: top center;
    background-size: cover;
}*/

.hero__content-box {
    width: 51%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    margin-top: 65px;
    margin-bottom: 175px;
}
@media screen and (max-width: 1084px) {
    .hero__content-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #f6f6f6;
        margin-top: 65px;
        margin-bottom: 175px;
    }
  }
    /*.hero__content {
        padding: 50px 30px 50px 30px;
    }*/
    .hero__intern {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero__intern p {
        text-transform: uppercase;
    }
    /*.img-eventos, .img-promociones {
        width: 150px;
    }*/
    .hero__eventos, .hero__promociones {
        padding: 70px 40px 70px 40px;
    }
    .hero__eventos-activa {
        transform: scale(1.1);
        box-shadow: 1px 3px 2px 0px #666;
        transition: all .3s ease;
        border-radius: 15px;
    }

    /* Aside Eventos y promociones */

    .aside-e-y-p {
        border: 1px solid #000;
        border-radius: 10px;
    }
        .aside-e-y-p .aside-e-y-p__mapa {
            width: 100%;
            border: 0;
            height: 185px;
        }
        .aside__form {
            padding: 20px;
        }
        .aside__form div label {
            font-size: 20px;
        }
        .aside-e-y-p__perro-gato {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid #837b7b;
            border-radius: 3px;
            text-align: center;
        }
        .aside-e-y-p__perro-gato div p {
            display: block;
            font-size: 2em;
            margin-bottom: 0;
        }

/* Main Content Eventps y promociones */   

    .e-y-p__tags {
        font-weight: bold;
        color: gray;
        text-align: center;
        font-size: 1.2em;
        border: 1px solid #000;
        padding: 15px;
        border-radius: 10px;
    }
    .e-y-p__tags:hover {
        transform: scale(1.1);
        box-shadow: 1px 3px 2px 0px #666;
        transition: all .3s ease;
        background-color: #f0f0f0;
    }
    .e-y-p__listar {
        font-size: 20px;
        text-align: center;
        color: gray;
    }
    .info__fecha {
        text-align: center;
    }
    .info__fecha p:nth-child(1) {
        font-size: 1.3em;
        margin-top: 10px;
    }
    .info__fecha p:nth-child(2) {
        font-size: 2em;
        margin-top: -17px;
        font-weight: bold;
    }
    .e-y-p__info .info__descripcion p {
        font-size: 1.3em;
        text-transform: uppercase;
        padding-top: 20px;
        padding-right: 17px;
        font-weight: bold;
    }
    .e-y-p__info .e-y-p__organizador {
        text-align: center;
        padding-left: 25px;
        font-weight: bold;
        margin-top: -20px;
        font-size: 1.1em;
    }
    .e-y-p__ubicacion {
        padding-right: 100px;
    }
    .e-y-p__ubicacion__p {
        font-size: 1.2em;
    }
    .e-y-p__img {
        box-shadow: 1px 3px 2px 0px #666;
        border-radius: 10px;
        border: none;
    }

    /* Registro aliado */
    
    .__nav-r-aliado li:nth-child(3) {
        border-right: none;
    }
    .form-aliado {
        width: 98%;
    }
    .__modal-aliado {
        border-radius: 18px;
        width: 42%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: -860px;
        margin-left: auto;
        box-shadow: 1px 1px 1px 0px;
        border: none;
        display: none;
    }
    @media screen and (max-width: 1180px) {
        .__modal-aliado {
            border-radius: 18px;
            width: 50%;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -760px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
        }
      }
      @media screen and (max-width: 1024px) {
        .__modal-aliado {
            border-radius: 18px;
            width: 50%;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -660px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
        }
      }
      @media screen and (max-width: 799px) {
        .__modal-aliado {
            border-radius: 18px;
            width: 70%;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -560px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
        }
      }
      @media screen and (max-width: 766px) {
        .__modal-aliado {
            border-radius: 18px;
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -400px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
        }
      }
      @media screen and (max-width: 599px) {
        .__modal-aliado {
            border-radius: 18px;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 0px;
            padding-bottom: 30px;
            margin-top: -300px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
        }
      }
      .__aliado-confirmacion {
        border-radius: 18px;
        width: 30%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: -700px;
        margin-left: auto;
        box-shadow: 1px 1px 1px 0px;
        border: none;
      }
      @media screen and (max-width: 1180px) {
        .__aliado-confirmacion {
            border-radius: 18px;
            width: 50%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -460px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
          }
      }
      @media screen and (max-width: 1024px) {
        .__aliado-confirmacion {
            border-radius: 18px;
            width: 50%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -460px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
          }
      }
      @media screen and (max-width: 799px) {
        .__aliado-confirmacion {
            border-radius: 18px;
            width: 70%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -460px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
          }
      }
      @media screen and (max-width: 766px) {
        .__aliado-confirmacion {
            border-radius: 18px;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -400px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
          }
      }
      @media screen and (max-width: 599px) {
        .indicators {
            display: none;
        }
        .__aliado-confirmacion {
            border-radius: 18px;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -300px;
            margin-left: auto;
            box-shadow: 1px 1px 1px 0px;
            border: none;
          }
      }
      .__aliado-confirmacion div h4 {
        padding-left: 55px;
        padding-right: 55px;
        font-size: 1.7rem;
      }
      .__aliado-confirmacion div span {
        font-weight: bold;
      }

        .__aliado-confirmacion .__body-confirmacion {
            text-align: center;
            font-size: 27px;
        }
    .section-r-aliado {
        margin-bottom: 100px;
    }
    .como-funciona-aliado {
        margin-top: 290px;
        margin-bottom: 100px;
    }
    .como-funciona-aliado h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
        .como-funciona-aliado .__ideas {
            text-align: center;
            margin-top: 70px;
        }
        .como-funciona-aliado .__ideas p {
            padding: 40px;
        }
    .carousel-aliado-2 {
        background-color: #f7f7f7;
        text-align: center;
    }
        .carousel-aliado-2 div {
            padding-bottom: 50px;
        }
        .carousel-aliado-2 h2 {
            font-weight: bold;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .carousel-aliado-2 div .__p {
            font-size: 25px;
            font-style: italic;
            color: gray;
            padding-left: 300px;
            padding-right: 300px;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 1050px) {
            .carousel-aliado-2 div .__p {
                font-size: 25px;
                font-style: italic;
                color: gray;
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 20px;
            }
          }
    .article-r-aliado h3 {
        margin-bottom: -10px;
    }     
    .article-r-aliado p:nth-child(2) {
        padding-bottom: 0!important;
        color: black;
        margin-bottom: -10px;
    }     
    .article-r-aliado p:nth-child(3) {
        padding-bottom: 0!important;
        text-transform: uppercase;
        color: black;
        margin-bottom: -10px;
    }    


    /* Helpers */

    .border-bottom {
        border-bottom: none!important;
    }
    .border-top {
        border-top: none!important;
    }

    .gris-oscuro {
        background-color: gray!important;
        border-radius: 30px!important;
        width: 30px!important;
        height: 30px!important;
        margin: 40px!important;
    }
    .padding-cards {
        padding-bottom: 20px;
    }
    .margin-cards {
        margin-bottom: 20px;
    }
    .margin-bottom-40px {
        margin-bottom: 55px;
    }
    .main-links {
        text-decoration: none;
        color: #000;
    }
    .main-links:hover {
        text-decoration: none;
        color: #000;
    }
    .bold {
        font-weight: bold;
    }
    .margin-bottom-2rem {
        margin-bottom: 2.5rem;
    }










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
