body { 
	padding-top: 110px; 
}

.navbar-inverse {
    background-color: #9B59B6;
    border-color: #9B59B6;
}
.phone {
    background-color: #8C4EA5;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #8E44AD;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}
.btn-primary {
    color: #fff;
    background-color: #8C4EA5;
    border-color: #8C4EA5;
    font-weight: bold;
}