/* You can add global styles to this file, and also import other style files */
body {
    background-color: black
}
h2 {
    color: white;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 50px;
}
footer {
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
    width: 100%;
}
    footer div p {
        text-align: center;
        font-weight: bold;
    }


